<!-- <span class="title" id="produse">Produse</span> -->
<div class="select-type-wrapper">
    <div class="type primary">
        <div class="type__wrapper hoverable" (click)="onSelectType(1)">
            <p class="type__title">cutting</p>
            <img class="type__image" src="https://wi.wallpapertip.com/wsimgs/1-15554_abstract-gaming-wallpaper-4k.jpg">        
        </div>
    </div>
    <div class="type secondary">
        <div class="type__wrapper hoverable" (click)="onSelectType(2)">
            <p class="type__title">bulking</p>
            <img class="type__image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3cgNvQftiLQL5YARwHI0eOGtT7wKzT_2irROKeJQyLL0NimzeH68UFKRAZYWMTKyOwOE&usqp=CAU">
        </div>
    </div>
</div>
<!-- <div class="cards-wrapper">
    <div class="card card--secondary-color" *ngFor="let product of productList">
        <div class="card__image-wrapper">
            <img class="card__image" [src]="product.imageUrl">
        </div>
        <div class="card__content">
            <span class="card__title">{{ product.title }}</span>
            <p class="card__text">{{ product.text }}</p>
        </div>
    </div>
</div> -->