<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-image: url(https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711==);background-size: cover;">   
    <div class="card card--secondary-color" style="width: 15rem;">
        <div class="card__image-wrapper">
            <img class="card__image" src="https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711==">
        </div>
        <div class="card__content">
            <span class="card__title">Bla bla</span>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At accusamus aperiam iste totam, pariatur repellat.</p>
        </div>
    </div>
    <div class="card card--primary-color" style="width: 15rem;">
        <div class="card__image-wrapper">
            <img class="card__image" src="https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711==">
        </div>
        <div class="card__content">
            <span class="card__title">Bla bla</span>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At accusamus aperiam iste totam, pariatur repellat.</p>
        </div>
    </div>
</div>