:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 2%;
    width: 100%;
}

mat-form-field {
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 3rem;
    line-height: normal;
}

.card {
    &__buy-button {
        margin-left: auto;
    }
}

.product {
    flex-direction: row;
    margin-bottom: 2%;
    cursor: pointer;
}

.products-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 53%;
    margin-bottom: 2%;
}

.moment-of-day {
    flex-direction: column;
    position: relative;
    margin-top: 2%;
    padding-bottom: 1%;
    opacity: 0;
    .card_content {
        flex-direction: row;
    }
    h1 {
        margin-bottom: 0;
    }
}

.product-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.settings {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 2%;
}

.show {
    opacity: 1;
    animation: tie-slide-in-up .5s;
}