<div class="first-block">
    <div class="text">
        <h1 class="title">Lorem, ipsum dolor sit amet</h1>
        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum inventore nostrum repellendus sapiente aperiam cupiditate dolores quibusdam neque? Possimus deserunt expedita nesciunt? Aperiam harum odit, neque accusamus omnis nihil modi obcaecati cupiditate ipsam quidem, animi, expedita nam deleniti nesciunt quas veritatis sunt hic ea error quod a! Consectetur, sed doloribus.</p>
    </div>
    <img class="feature-image" src="/assets/feature-illustration.png/">
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ata9cSC2WpM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>